body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    background-color: #7f7fd5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
}

input[type="number"] {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #743ad5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #5b23a6;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}
